body {
  margin: 0 auto;
  padding: 0;
}
.jumbotron {
  background-image: url(/images/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.appreciation {
  font-style: italic;
  font-weight: lighter;
  color: gray;
}
.writer {
  font-style: italic;
  color: gray;
  text-align: right;
  font-weight: bold;
}
.location {
  font-weight: lighter;
  font-style: italic;
}

.reason-container p {
  text-align: center;
  color: gray;
}
.carousel-container {
  background-color: gray;
  margin: 0 auto;
  font-size: 24px;
}
.carousel-container p {
  font-weight: bold;
}
.carousel-container span {
  font-weight: lighter;
}
